<html>
<head>
    {% block tittle %}
        <title>Blog Title</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <div>
        {% block links %}
            <a href="{{ url('index')}}" title="Home">Homepage</a>
            <a href="{{ url('list')}}" title="List">Article List</a>
            <a href="{{ url('login')}}" title="Login">Login</a>
            <a href="{{ url('about')}}" title="About">About</a>
        {% endblock %}
    </div>
    {% block content %}

    {% endblock %}
{% endblock %}
</body>
</html>